body {
    background-color:black;
  }
 
  .ig {
    float: right;
    border-radius: 40px;
    padding-left:12px;
    height:450px;
    width:50%;
    opacity:0.5;
    transition: opacity 600ms, transform 600ms;
    
  }
  .ig:hover{
    opacity:1;
    transform: scale(1.1);
}

 .image{
     padding: 70px;
     text-align: justify;
     color:white;
 }
 .image h1{
  font-size: 50px;
}
     
 
 .image p2{
font-weight: normal;
text-decoration: none;
font-variant: normal;
text-transform: none;
color:white;
font-style: oblique;
font-size: 38px;

 }
 
 div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 450px;
  height: 450px;
}

div.gallery:hover {
  border: 1px solid #777;
  opacity:1;
  transform: scale(1.1);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 40px;
  text-align: center;
  color:white;
  
   
}
.bt{
  font-size: 30px;
  color: blue;
  background-color:maroon;
}

div.all-gallery{
  padding-left: 70px;
  padding-right: 70px;
 
}


 .kund {
  font-size: 29px;
  font-style:oblique;
  padding:50px;
  font-weight: normal;
color:white;
text-align: center;

 }

 #tid{
color:white;
font-size: 40px;
font-style: oblique;
text-align: center;
 }


  