body {
    background-color:whitesmoke;
  }
 
  img {
    float: right;
    border-radius: 20px;
    width: 600px;
    height: 400px;
    clear: right;
    padding-top:6px;
    padding-left:8px;
  }
  
 
 .image{
     padding:30px;
     margin-left: 40px;
     text-align: justify;
     
     
 }
 .image p2{
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
color:#002233;

 }
 
 .kund {
     color:#002233;
     padding-top: 10px;
     padding-left:65px;
     padding-right:50px;
     text-align: justify;
     line-height: 2em;
     
 }
 @media screen and (min-width: 600px) {
    .kund {
      font-size: 30px;
    }
  }
  @media screen and (min-width: 600px) {
    .image {
      font-size: 30px;
    }
  }
 

  