/*denna styr bakgrundsmallen*/
/*denna styr mittenrutan och de tomma rutorna till vänster och höger*/
 .container{
    width: 70%;
    border-left:  1px solid rgb(95, 95, 95);
    border-right: 1px solid rgb(95, 95, 95);
    background-color: rgba(27, 28, 32,0.92);
    height:100%;
    margin: 0 auto;
    margin-top:57px;
    bottom: 57px;
    overflow-y:scroll;
  }

 /*så att de båda rutorna går ihop, annars blir det ett mellanrum*/
 .wrapper >*{
    padding:1em;
  }
  .container h1, .container h2{
      text-align:center;
      margin:1em;
      color:orange;
      font-family:"Roboto Mono";
  }


  .wrapper{
    /*padding:1.5em;*/
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    color:white;
    box-shadow:10px 10px 5px black;/*hur fixar jag så att skuggan ligger där den ska. Padding ställer till det*/
    
    font-family:"Roboto Mono";
  }
  
  .container h1{
    margin-top:0em;
  }
  .company-info{
    background-color:rgb(95, 95, 95);
  }
  
  ul{
    list-style:none;
    padding:0;
    text-align:center;
}

 strong{
      color:#CD214B;
  }

  /*kontaktformuläret*/
  .form-box form{
    margin:0.5em;
    display:grid;
    grid-template-columns:1fr 1fr;
   grid-row-gap:20px;
   grid-column-gap:2.5em;
    }
  
  .form-box {
    background-color:rgb(148, 145, 145);
  }
  form textarea, form button, form input{
    width:100%;
    padding:0.5em;
}
  
  form{
      margin-top:1em;
  }
  label{
    display:block;
    font-size:1.2em;
    margin-bottom:0.2em;
  }
  
  .full{
    grid-column:1/3;
  }
  form button {
      background-color:#CD214B;
      border:none;
      transition: background-color 0.8s;
      border-radius: 4px;
      color:white;
      box-shadow:5px 5px 2px dimgray;
  }
  form  button:hover{
background-color:orange;
  }
 

  /* Klagomålsgrid */

.complain-box{
    
    max-width: 1000px;
    margin-left: auto;
    margin-right:auto;
    padding:0em;/*kan inte ha padding och box-shadow*/
    margin-top:1.5em;
    margin-bottom:1.5em;
    color:white;
    box-shadow:10px 10px 5px grey;
   
 
}
.complain-text{
    background-color:rgb(95, 95, 95);
    text-align:center;
    padding:2em;
    font-family:"Roboto mono";
}
.complain-img{
  
   background-color:white;/*finns det nåt annat sätt att lösa problemet på, hur centrerar man bilden?*/
}
.complain-box img {
  width:100%;  
  height:100%;
}
.complain-img >img{
    size:50%;
}

@media (min-width:900px)
{
    .wrapper{
        display:grid;
        grid-template-columns: 1fr 2fr;
    }
    .company-info h2, .company-info ul{
        text-align:left;
        margin-left:1em;
        margin-top:1em;
    }
    .complain-box{
        display:grid;
        grid-template-columns:2fr 1fr;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
  .container{
      width:100%;
      left:unset;
  }
}
@media only screen and (min-width:440px) and (max-width:768px){
  .container{
      width:100%;
      left:unset;
  }
}
@media only screen and (min-width:320px) and (max-width:440px){
  .container{
      width:100%;
      left:unset;
  }