  *{
    margin:0;
    box-sizing: border-box;
    padding:0;
}
header{
    width:100%;
    position: fixed;
    top:0;
    z-index:100;
}
main{
    width:100%;
    background-color: #1b1c20;
    top:57px;
    bottom:0px;
    position: absolute;
}
#logo{
    width:15%;
    float:left;
    height:56px;
}
#logo img{
    height:56px;
    float:right;
    padding-right: 5px;
}
.nav-bar{
    background-color: #1b1c20;
    font-size: 14px;
    font-weight: 500;
    border-bottom:1px solid rgb(95, 95, 95);
}
.nav-bar-menu{
    display:flex;
    align-items: center;
    width:70%;
    font-size: 1.2em;
    list-style: none;
    border-left: 1px solid rgb(95, 95, 95);
    border-right: 1px solid rgb(95, 95, 95);
}
.nav-list-item{
    flex:1;
    flex-basis:10%;
    text-align: center;
    border-right: 1px solid rgb(95, 95, 95);
}
.nav-list-item:nth-child(4){
    border-right: 0;
}
.nav-list-item a{
    display:block;
    color: white;
    text-align: center;
    padding:18px;
    text-decoration: none;
    transition: background-color 300ms, font-size  300ms;
}
.nav-list-item a:hover{
    background-color: #f1f1f1;
    color:black;    
}
.active a {
    background-color: rgb(95, 95, 95);
    color:white;
}
.mobile-nav-bar{
    display:none;
    overflow:hidden;
    background-color: #1b1c20;
    position: relative;
    border-bottom: 1px solid rgb(95, 95, 95);
}
.mobile-nav-bar #mobile-links{
    display:none;
}
.mobile-nav-bar a{
    border-top: 1px solid rgb(95, 95, 95);
    color:white;
    padding:20px 24px;
    text-decoration: none;
    font-size: 17px;
    display:block;
}
#hamburger-btn{
    display:none;
}
#hamburger-btn + label{
    color:white;
    background-color: #1b1c20;
    border-left: 1px solid rgb(95, 95, 95);
    padding:10px 15px;
    position: absolute;
    right:0;
    top:0;
}
#hamburger-btn + label > div{
    width:35px;
    height:5px;
    background-color: rgb(95, 95, 95);
    margin:6px 0;
}
#hamburger-btn:checked ~ #mobile-links {
    display:block;
}
@media only screen and (max-width:1024px){
    main{
        top:62px;
    }
    .nav-bar{
        display:none;
    }
    .mobile-nav-bar{
        display:block;
    }
}