  *{
    margin:0;
    box-sizing: border-box;
    padding:0;
}
body{
    height:100vh;
    width:100%;
    background-image:url(../img/messy-pizza-on-a-black-table.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}
header{
    width:70%;
    left:15%;
    position: fixed;
    top:0;
    font-family:"Nunito";
    z-index:100;
}
footer{
    width:70%;
    left:15%;
    position:fixed;
    bottom:0;
    z-index:100;
    height:57px;
    background-color: #1b1c20;
    border-top: 1px solid rgb(95,95,95);
    border-right: 1px solid rgb(95,95,95);
    border-left: 1px solid rgb(95,95,95);
    opacity: 0.92;

}
footer .footer-text{
    width:70%;
    margin:0 auto;
    color:white;
    text-align: center;
    line-height: 57px;
}
main{
    height:100%;
    overflow:hidden;
    margin-bottom:56px;
    margin-top:60px;
}
body, main{
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}
.nav-bar{
    background-color: #1b1c20;
    opacity:0.92;
    font-size: 14px;
    font-weight: 500;
    border-bottom:1px solid rgb(95, 95, 95);
}
.nav-bar-menu{
    display:flex;
    align-items: center;
    width:100%;
    font-size: 1.2em;
    list-style: none;
    border-left: 1px solid rgb(95, 95, 95);
    border-right: 1px solid rgb(95, 95, 95);
}
.nav-list-item{
    flex:1;
    flex-basis:10%;
    text-align: center;
    border-right: 1px solid rgb(95, 95, 95);
}
.nav-list-item:nth-child(4){
    border-right: 0;
}
.nav-list-item a{
    display:block;
    color: white;
    text-align: center;
    padding:18px;
    text-decoration: none;
    transition: background-color 600ms;
}
.nav-list-item a:hover{
    background-color: #f1f1f1;
    color:black;
}
.nav-list-item a:focus{
    box-shadow: 0 0 10pt 2pt red;
    outline:none;
}
/* removes border when focus, on firefox */
::-moz-focus-inner{
    border:0;
}
.active a {
    background-color: rgb(95, 95, 95);
    color:white;
}
.mobile-nav-bar{
    display:none;
    overflow:hidden;
    background-color: #1b1c20;
    position: relative;
    border-bottom: 1px solid rgb(95, 95, 95);
}
.mobile-nav-bar #mobile-links{
    display:none;
}
.mobile-nav-bar a{
    border-top: 1px solid rgb(95, 95, 95);
    color:white;
    padding:20px 24px;
    text-decoration: none;
    font-size: 17px;
    display:block;
}
#hamburger-btn{
    display:none;
}
#hamburger-btn + label{
    color:white;
    background-color: #1b1c20;
    border-left: 1px solid rgb(95, 95, 95);
    padding:16px;
    position: absolute;
    right:0;
    top:0;
}
.fa{
    font-size:2em;
}
#hamburger-btn:checked ~ #mobile-links {
    display:block;
}
@media only screen and (max-width:1024px){
    header, footer{
        width: 100%;
        left:unset;
    }
    main{
        margin-top:65px;
    }
    .nav-bar{
        display:none;
    }
    .mobile-nav-bar{
        display:block;
    }
}
@media only screen and (max-width:767px){
    header, footer{
        width: 100%;
        left:unset;
    }
    .nav-bar{
        display:none;
    }
    .mobile-nav-bar{
        display:block;
    }
}
