
.container{
    width: 70%;
    border-left:  1px solid rgb(95, 95, 95);
    border-right: 1px solid rgb(95, 95, 95);
    left:15%;
    top:0px;
    bottom:0px;
    position: absolute; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color:white;
    font-style: oblique;
}
.index-image{
    background-image:url(../img/pizza-3007395_960_720.jpg);
    background-size: cover;
    background-position: center;
    height:50vh;
    width:70%;
    border-radius:8px;
    opacity:0.5;
    transition: opacity 600ms, transform 600ms;
    text-align: center;
    line-height:50vh;
    font-size: 3em;
}
.index-image a{
    display:block;
    text-decoration: underline;
    color:white;
}
.index-image:hover{
    opacity:1;
    transform: scale(1.1);
}
.index-text{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}
.index-text h1{
    text-decoration: underline;
    margin-bottom: 1em;
    font-size: 3em;
}
.index-text p{
    font-size: 1.2em;
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .container{
        width:100%;
        left:unset;
    }
    .index-text{
        padding-left:2em;
        padding-right:2em;
    }
    .index-image{
        opacity:1;
    }
    .index-text p{
        font-size: 2em;
    }
}
@media only screen and (min-width:440px) and (max-width:768px){
    .container{
        width:100%;
        left:unset;
    }
    .index-text{
        padding-left:2em;
        padding-right:2em;
    }
    .index-image{
        opacity:1;
        font-size: 2em;
    }
    .index-text p{
        font-size: 1.5em;
    }
}
@media only screen and (min-width:320px) and (max-width:440px){
    .container{
        width:100%;
        left:unset;
    }
    .index-image{
        height: 15em;
        font-size:1.3em;
        line-height: 15em;
        opacity: 1;
    }
    .index-text{
        padding-left:2em;
        padding-right:2em;
    }
}
