.container{
    width: 70%;
    border-left:  1px solid rgb(95, 95, 95);
    border-right: 1px solid rgb(95, 95, 95);
    height:calc(100% - 57px);
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family:"Roboto Mono";
    background-color: rgba(27, 28, 32,0.92);
    margin-top:57px;
    overflow:auto;
}

.index-image{
    background-image:url(../img/pizza-3007395_960_720.jpg);
    background-size: cover;
    background-position: center;
    height:30vh;
    border-radius:8px;
    opacity:0.5;
    transition: opacity 600ms, transform 600ms;
    text-align: center;
    line-height:30vh;
    padding-left:10px;
    padding-right:10px;
    font-size: 2.5em;
}
.index-image a{
    display:block;
    text-decoration: underline;
    color:white;
}
.index-image:hover{
    opacity:1;
    transform: scale(1.1);
}
.index-text{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.index-text h1{
    margin-bottom: 1em;
    font-size: 2em;
    color:white;
}
.index-text p{
    font-size: 1.2em;
    color:white;
}
.index-text h1 strong{
    color:orange;
}
.index-text span{
    color:#CD214B;
}
.index-text strong{
    color:#CD214B;
}
@media only screen and (max-width:1024px) and (orientation: landscape) {

}
@media only screen and (max-width:823px) and (orientation: landscape) {
    .index-image {
        display:none;
    }
    .index-text #specialties{
        display:none;
    }
}

@media only screen and (min-width:769px) and (max-width:1024px){
    .container{
        width:100%;
        left:unset;
    }
    .index-text{
        padding-left:2em;
        padding-right:2em;
    }
    .index-image{
        opacity:1;
    }
    .index-text p{
        font-size: 2em;
    }
}
@media only screen and (min-width:440px) and (max-width:768px){
    .container{
        width:100%;
        left:unset;
    }
    .index-text{
        padding-left:2em;
        padding-right:2em;
    }
    .index-image{
        opacity:1;
        font-size: 2em;
    }
    .index-text p{
        font-size: 1.5em;
    }
}
@media only screen and (min-width:320px) and (max-width:440px){
    .container{
        width:100%;
        left:unset;
    }
    .index-image{
        font-size:1.3em;
        opacity: 1;
        margin-bottom:3em;
    }
    .index-text{
        padding-left:2em;
        padding-right:2em;
    }

}
/* Iphone 5  media rule*/
@media screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .index-image{
        display:none;
    }
    #specialties{
        display:none;
    }
}
/* Iphone 5 landscape */
@media only screen 
and (min-device-width : 320px)
and (max-device-width : 568px) 
and (orientation : landscape){
    .index-text p{
        font-size: 1.2em;
    }
}

/* Galaxy S5 media query */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
      .index-image{
          margin-bottom:3em;
      }

}