* {
    box-sizing: border-box;
    border: 4px rebeccapurple;
  }
  
  body {
    margin: 0;
   
  }
  
  
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
    
    
    main{
        width:100%;
        background-color: #1b1c20;
        top:57px;
        bottom:0px;
        position: absolute;
    }
    .container{
        width: 70%;
        border-left:  1px solid rgb(95, 95, 95);
        border-right: 1px solid rgb(95, 95, 95);
        left:15%;
        top:0px;
        bottom:0px;
        position: absolute; 
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        color:white;
    }
    .container-item {
        border: 1px solid white;
        display:flex;
        justify-content: center;
        flex-direction: column;
        padding:1em;
        margin:1em;

    }
  
    .container-item div:first-child{
        border: 1px solid yellow;
        margin-bottom: 20px;
        flex:2;
        background-image:url(../img/pizza-3007395_960_720.jpg);
        background-size: cover;
        background-position: center;
    }
    .container-item div:nth-child(2){
        flex:1;
        border:1px solid blue;
    }

     .container-item div:first-child:hover{
        opacity:1;
        transform: scale(1.3);
        transform: rotate3d(-1,0,0,90 deg)   
    } 
    .container-item div:nth-child(2):hover{
        opacity:1;
        transform: scale(1.1);
        
      
        animation: pulse 5s infinite;
    } 

    @keyframes pulse {
        0% {
          background-color: #001F3F;
        }
        50%{
            background-color:greenyellow;        }
        100% {
          background-color:blue;
        }
      }

    /* .container-item div:first-child {
    @keyframes stretch {
        0% {
          transform: scale(.3);
          background-color: red;
          border-radius: 100%;
        }
        50% {
          background-color: orange;
        }
        100% {
          transform: scale(1.5);
          background-color: yellow;
        }
      }
    } */