  *{
    margin:0;
    padding:0;
}
#logo{
    width:50px;
}
.nav-bar{
    background-color: #1b1c20;
    font-size: 14px;
    font-weight: 500;
}
.nav-bar-menu{
    display:flex;
    align-items: center;
    margin: 0 auto;
    width:70%;
    font-size: 1.2em;
    list-style: none;
}
.nav-bar-menu li:first-child{
    margin-right:5px;
    margin-left:5px;
}

.nav-list-item{
    flex:1;
    flex-basis:10%;
    text-align: center;
}
.nav-list-item a{
    display:block;
    color: white;
    text-align: center;
    padding:18px;
    text-decoration: none;
}
.nav-list-item a:hover{
    background-color: #f1f1f1;
    color:black;
}
.active a {
    background-color: rgb(95, 95, 95);
    color:white;
}
/*  sett width 100% width på nav-bar menu på alla bildskärmar mindre än desktop */
@media only screen and (min-width:320px) and (max-width:440px){
    .nav-bar-menu{
        width:100%;
        height:50px;
        font-size: 1em;
    }
    .nav-list-item a{
        padding:17px;
    }
    .nav-bar-menu li:first-child{
        display:none;
    }
}
@media only screen and (min-width:440px) and (max-width:768px){
    .nav-bar-menu{
        width:100%;
    }
    .nav-bar-menu li:first-child{
        margin-right:5px;
        margin-left:5px;
    }
}