* {
    box-sizing: border-box;
    border: 4px rebeccapurple;
  }
  
  body {
    margin: 0;
   
  }
  
  
  
  .row {
    display: flex;
    flex-wrap: wrap;
    
    
  
  }
  
  /* Create four equal columns  */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  
    
  }
  
  /* makes a two column-layout */
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /*makes one column*/
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  